# Python 
*.pyc 
*~ __pycache__
wiz.py
# Env 
.env 
myvenv/ 
venv/ 
.venv
# Database
db.sqlite3
sqlite3.db
*.db
# Static folder at project root
/static/
test_image/

# macOS 
._*
.DS_Store 
.fseventsd 
.Spotlight-V100  
# Windows 
Thumbs.db*
 ehthumbs*.db 
[Dd]esktop.ini 
$RECYCLE.BIN/  
# Visual Studio 
.vscode/ 
.history/ 
*.code-workspace
# bash

#log
log
.log
logfile
#vim
.swp
*.tmp

# node
node_modules/

