asgiref==3.8.1
Django==5.2
packaging==24.2
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.2
crispy-bootstrap4==2024.10
django-crispy-forms==2.3
pillow==11.3.0
mysqlclient==2.2.7
django-markdownx==4.0.9
markdown==3.10
