body{
  background-color: #222222;
  color: white;
}
.navbar, .navbar-ul{
  background-color: #222222;
}
.nav-link{
  color: white;
}
.active-link{
  border-color: goldenrod;
  color: goldenrod;
}
.nav-icon{
  filter: invert(100%);
}
#brand-logo{
  background-color: white;
}

