body{
  background-color: #222;
  color: #ddd;
}
.navbar, .navbar-ul{
  background-color: #222;
}
.nav-link{
  color: #ccc;
}
.active-link {
  text-decoration-line: underline;
  text-decoration-color: rgb(0,200,0);
  text-decoration-style: solid;
  color: rgba(0,200,0,0.9);
}

.nav-icon,#theme-toggle-icon{
  filter: invert(100%);
}

#brand-logo{
  background-color: white;
}
h1,h2,h3,h4,p{
  color: #ddd;
}

