/* always remember to add padding-top to the main content Below the navbar*/
#theme-toggle-icon{
  display: inline-block;
  border-style:none;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  margin-top: 10px;
  margin-right: 5px;
  background-color:#777;
  font-size: 20px;
  float: right;
}
#brand-logo{
  width:40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}
.brand-name{
  font-size: 30px;
  margin: 10px;
}
.navbar{
  padding-bottom: 5px;
  display: block;
  height: 50px;
  position: fixed;
  width:100%;
  left: 0;
  right: 0;
  top:0;
  box-shadow: 0 0 5px 2px #999; 
  background-color: white;
}

.navbar-ul {
  display: none;
  border-style: none;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 2px #777;
  background-color: white;
  opacity: 100%;
  position: fixed;
  top: 0px;
  padding-left:10px;
  padding-right: 5em;
  height: 100vh;
  width: 30vw;
}

.nav-icon{
  margin: 5px;
}
#menu-icon{
  width:40px;
  height: 40px;
  float: right;
  
}
#close-icon{
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-top: 2px;
  border-style: solid;
  border-width:0.5px;
  border-radius:5px;
  border-color:#777;
  padding: 5px;
  z-index: 2000;
}

.navbar-ul li{
  list-style: none;
  padding: 5px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.nav-link{
  text-decoration: none;
  color:black;
}

.active-link {
  border-style: solid;
  border-radius: 5px;
  padding:5px;
  border-color: goldenrod;
  color: goldenrod;
}

@media screen and (min-width:786px){
  .nav-icon{
    display: none;
  }
  .navbar {
    display: flex;
  }
  .navbar-ul{
    display:flex;
    position: static;
    border: none;
    height: 100%;
    width: 100%;
    box-shadow: none;
    margin: 0;
    padding-left: 40vw;
    opacity: none;
  }
  .navbar-ul li{
    margin-right: 5%;
    margin-top: 5px;
  }
  .brand-name{
    margin: 10px;
}
  #theme-toggle-icon{
    margin-right: 20px;
    
  }
}