/* always remember to add padding-top to the main content Below the navbar*/
p{
  color: #333;
}
#theme-toggle-icon{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-style:none;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  float: right;
  
}
#brand-logo{
  width:40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

#logo-a{
  width: 20%;
}
.top-nav{
  display: grid;
  grid-template-columns: 70% 10% 20%;
  align-items: center;
  height: 55px;
  width:98%;
  border-radius: 25px;
  position: fixed;
  left: 1%;
  right: 1%;
  top: 1%;
  background-color: rgba(0,0,200,0.1);
  backdrop-filter: blur(16px);
}

@keyframes up{
  from{
    height: 0vh;
    opacity: 0;
  }
  to{
    height: 100vh;
    opacity: 1;
  }
}
.navbar-ul{
  display: none;
  border-style: none;
  position: fixed;
  top: -10px;
  height: 110vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: rgba(255,255,255,1);
  z-index: 999999;
  animation-name: up;
  animation-duration: 0.05s;
  animation-timing-function: ease-in;
}
.navbar-ul ul{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: auto;
  border-style: none;
  height: 100%;
  width: 100%;
}
.nav-icon{
  margin: 5px;
}
#menu-icon{
  width:30px;
  height: 30px;
  float: right;
  
}
#close-icon{
  width: 25px;
  height: 25px;
  border-style: none;
  position: relative;
  float: right;
  margin: 10px;
  z-index: 2000;
}

.navbar-ul li{
  list-style: none;
  margin: 24px;
  letter-spacing: 1px;
}

.nav-link{
  text-decoration: none;
  color:#222;
  font-size: 30px;
  font-weight: 480;
}

.active-link {
  text-decoration-line: underline;
  text-decoration-color: rgb(0,0,200);
  text-decoration-style: solid;
  color: rgba(0,0,200,0.6);
}

@media screen and (min-width:786px){
  .nav-icon{
    display: none;
  }
  .top-nav {
    display: flex;
  }
  .navbar-ul ,.navbar-ul ul{
    display:flex;
    position: fixed;
    border: none;
    height: 100%;
    width: 100%;
    box-shadow: none;
    margin: 0;
    padding-left: 40vw;
    opacity: none;
  }
  .navbar-ul li{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .nav-link{
    display: inline-block;
    
  }
  .brand-name{
    margin: 10px;
}
  #theme-toggle-icon{
    margin-right: 20px;
    
  }
}