/* General body rule*/
:root{
	--back:#333;
	--electric-blue:#03A9F5; 
	--primary-color: rgb(146, 49, 147)/* rgb(35, 25, 41)*/;
	
}

@keyframes ghost{
	from{ 
		opacity: 0.2;
	}
	to{
		opacity: 1;
	}
}

div::focus{
	animation-name: ghost;
	animation-duration: 0.8s;
	animation-timing-function: ease;

}

a{
	text-decoration: none;
}
.prose a{
color: skyblue;
}

body {
 margin:0;
	padding:5px;
 font-family: "Helvetica";
	 word-spacing: 5px;
	letter-spacing: 1px;
	background-color: #F2F2F2;
}

.anim{
	opacity: 0;
	transform: translateY(40px);
	transition: 0.6s ease;
}
.anim.show {
	opacity: 1;
	transform: translateY(0);
}

/*main body, content */
main {
	padding: 5px;
 padding-top:20%;
}
time{
	font-family: Courier;
	font-weight: bold;
}

#profile-img{
	width:18em;
	height: 20em;
	border-radius: 50% 70% 30% 20%;
	border-style: none;
	margin-right: 2px;
}


/* Footer */
footer{
 color:#999;
 font-size:10px;
 text-align: center;
 width:100%;

}
footer img{
	    object-fit:contain;
    border-radius:50%;
    border-style:solid;
    width:40px;
    height:auto;
    border-color:white;
	    background-color:var(--electric-blue);
}


#message-form{
	display: block;
	border-style: none;
	border-radius: 5px;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
}
.form-control{
	display: block;
	width: 90%;
	margin: auto;
	border-radius: 5px;
	border-width: 1px;
	border-color: rgba(0,255,0,0.5);
	background-color: rgba(255,255,255,0.1);
}
.form-control::placeholder{
	padding: 5px;
}
.form-control:focus{
	outline-color: rgba(0,0,255,0.5);
	outline-width: 1px;
}
.text-input{
	height: 3em;
}
.alert{
	border-style: solid;
	border-width: 0.1px;
	border-radius: 5px;
	width:80%;
	height: auto;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	
}
.alert-warning{
	border-color: #f0ad4e;
	background-color: #faebcc;
	color: #f0ad4e;
}
.alert-success{
	border-color: green;
	background-color: #d6e9c6;
	color: green;
}
.alert-danger{
	border-color: red;
	background-color: #ebccd1;
	color: red;
}

/* Responsive rules for desktop */
@media screen and (min-width:786px){
	
	#message-form{
		max-width: 50%;
	}
	#section1{
	 flex-direction: row;
		
}
	#profile-img{
		display: block;
		margin-left: 200px;
	}
	/* desktop responsive adjustment to ui component */
	.card{
		padding: 10px;
	}
	
}

