{% extends "blog/generic_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<title>Contact</title>
<script type="text/javascript">
	const MESSAGE_URL = {% url 'blog:contact' %}
</script>
<script type='text/javascript' src="{% static 'blog/js/message.js' %}"></script>
{% endblock %}

{% block content %}
<h2 class="heading" >Contact Me</h2>
{% if contact %}

<strong>Phone and Mail</strong>
{% for info in contact.get_info_list %}
<p>{{info|safe|urlize}}</p>
{% endfor %}
<br>
<strong>Socials and Repo</strong>
{% for social in contact.get_socials_list %}               <p>{{social|safe}}</p>
{% endfor %}
<br>
<em>{{contact.additional_info}}</em>
<br>
<form class="form" id='message-form' method='POST'>
	<b>Send A Message</b>
	<div id="alert-box">
	</div>
	{% csrf_token %}
	<div class="fieldset">
	<label for="{{message_form.email.id_for_label}}"><span class="fg-red">*</span></label><br>
	{{message_form.email}}
	{{message_form.email.errors}}
	</div>
	
		<div class="fieldset">
	<label for="{{message_form.message.id_for_label}}"><span class="fg-red">*</span></label><br>
	{{message_form.message}}
	{{message_form.message.errors}}
	</div>
	<div class="fieldset">
	<button type="submit" class="btn btn-primary form-control">Submit</button>
		<div>
</form>

{% else %}
No Contact
{% endif %}
{% endblock %}
