{% extends "blog/generic_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<title>Contact</title>
<script type="text/javascript">
	const MESSAGE_URL = {% url 'blog:contact' %}
</script>
<script type='text/javascript' src="{% static 'blog/js/message.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Contact</h2>
{% if contact %}

<strong>Phone and Mail</strong>
{% for info in contact.get_info_list %}
<p>{{info|urlize}}</p>
{% endfor %}
<br>
<strong>Socials and Repo</strong>
{% for social in contact.get_socials_list %}               <p>{{social|safe}}</p>
{% endfor %}
<br>
<em>{{contact.additional_info}}</em>
<br>
<form class="form mt-3 mb-5" id='message-form' method='POST'>
	<b>Send A Message</b>
	<div id="alert-box">
	</div>
	{% csrf_token %}
	{{ MessageForm|crispy }}
	<button type="submit" class="btn btn-danger mt-3 w-100">Submit</button>
</form>

{% else %}
No Contact
{% endif %}
{% endblock %}
