<!DOCTYPE html> <html> <head>
  <meta http-equiv="CONTENT-TYPE"content="text/html; charset=UTF-8">

  <meta name="viewport"content="width=device-width,initial-scale=1.0">
<!--bootstrap-->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">

{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/style.css'%}"/>
<link rel="stylesheet" href="{% static 'blog/css/topmenu.css' %}" />

<link rel="icon" type="image/png" href=""/>

<script>
	STATIC_URL = "{% static 'blog/'  %}"
	AJAX_URL = "{% url 'blog:ajaxIndex' %}"
</script>
<!--
<script defer src="{% static 'blog/js/topmenu.js' %}"></script>-->
<script type="text/javascript"  src="{% static 'blog/js/slideshow.js' %}"></script>

{% block head %} {% endblock %}
</head> <body>
  <header>
	  
		  <img src="/media/images/favicon.png" id="brand-logo" alt='brand logo'>
	<nav >

		  <!-- <img   src="{% static 'blog/images/menuicon01.png' %} " id="top-menu-icon" alt="menu">-->
	<ul class="navlist" >
		<li ><a class="list-item-link"  href="/">Home</a></li>
		<li><a class="list-item-link" href="{% url 'blog:about' %}"> About</a></li>
	  <li ><a class="list-item-link" href="{% url 'blog:portfolio' %}">Portfolio</a></li>
	  <li><a class="list-item-link" href="{% url 'blog:contact' %}">Contact</a></li>
	</ul>

  </nav>
   <a href="{% url 'blog:resumepdf' %}" class="btn btn-warning" style="padding:0;margin-left:60%;margin-right:0 ;z-index:2000;">Download Resume</a>
  <!-- <a href="/" class="website-name-link"> <h1 class="website-name">GRANZULAR CODEX</h1></a>-->
  </header>
 <section   class="feature-box">
	 <div>
	 </div>
<div></div>
    <div></div>
  </section>
 <main class="content">
{% block content %}
{% endblock %}
  
 </main>
 <br/>
 <br/>
 <br/>
 
  <footer>
    <hr>
    <div style="display:flex;justify-content:center;">
      <img src="/media/images/github.svg">
      <img src="/media/images/linkedin.svg">
      
    </div>

granzularcodex 
   <p> copyright©2024 </p>
</footer>
{% block end %}
{% endblock %}

<!-- bootstrap js-->                              <script type="application/javascript"src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper"></script>                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body> 

</html>


    
    
