<!DOCTYPE html> <html> <head>
  <meta http-equiv="CONTENT-TYPE"content="text/html; charset=UTF-8">

  <meta name="viewport"content="width=device-width,initial-scale=1.0">

{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/style.css'%}"/>
<link rel="stylesheet" href="{% static 'blog/css/topmenu.css' %}" />

<link rel="icon" type="image/png" href="/media/images/favicon.png"/>

<script>
	STATIC_URL = "{% static 'blog/'  %}"
	AJAX_URL = "{% url 'blog:ajaxIndex' %}"
</script>

<script  type="text/javascript" src="{% static 'blog/js/topmenu.js' %}"></script>
<script type="text/javascript"  src="{% static 'blog/js/slideshow.js' %}"></script>

{% block head %} {% endblock %}
</head> <body>
  <header>
	  {% include 'blog/navbar.html'   %}
  </header>
 <section   class="feature-box">
	 <div>
	 </div>
<div></div>
    <div></div>
  </section>
 <main class="content">
{% block content %}
{% endblock %}
  
 </main>
 <br/>
 <br/>
 <br/>
 
  <footer>
    <hr>
    <div style="display:flex;justify-content:center;">
      <img src="/media/images/github.svg">
      <img src="/media/images/linkedin.svg">
      
    </div>

granzularcodex 
   <p> copyright©2024 </p>
</footer>
{% block end %}
{% endblock %}

</body> 

</html>


    
    
