<!DOCTYPE html> <html> <head>
  <meta http-equiv="CONTENT-TYPE"content="text/html; charset=UTF-8">

  <meta name="viewport"content="width=device-width,initial-scale=1.0">
{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/style.css'%}"/>
<link rel="stylesheet" href="{% static 'blog/css/topmenu.css' %}" />
<link rel="icon" type="image/png" href="{% static 'blog/images/favicon.png' %}"/>
<script>
	STATIC_URL = "{% static 'blog/'  %}"
	AJAX_URL = "{% url 'blog:ajaxIndex' %}"
</script>

<script defer src="{% static 'blog/js/topmenu.js' %}"></script>
<script type="text/javascript" defer src="{% static 'blog/js/slideshow.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/lib/alert.js' %}" ></script>
<style>
header{
 background-image:url("{% static 'blog/images/website_header_background.jpg' %}");
 background-repeat:no-repeat;
 width:100%;
}
#website-logo{
 width:60px;
 height:60px;
 position:fixed; 
 margin-top:40px;
 margin-left:30px;
 z-index:1000;
 opacity:100%;
}

</style> 

{% block head %} {% endblock %}
</head> <body>
  <header>
	  <nav>

		  <img   src="{% static 'blog/images/menuicon01.png' %} " id="top-menu-icon" alt="menu">
  <menu id="top-menu">
    <a href="/"><li>Home</li>
	    <a href="{% url 'blog:about' 1 %}"><li>About</li>
	    <a href="{% url 'blog:tools' %}"><li>Tools</li>
	<a href="{% url 'blog:blog' %}"><li>Blog</li>
		    <a href="{% url 'blog:contact' %}"><li>Contact</li></a>
		    <a href="/admin"><li>Admin</li></a>
  </menu>
  </nav>
  <a href="/" class="website-name-link"> <h1 class="website-name">GRANZULAR CODEX</h1></a>
  </header>
 <section   class="feature-box">
	 <div>
	 </div>
<div></div>
    <div></div>
  </section>
 <main class="content">
{% block content %}
{% endblock %}
 </main>
 <br/>
 <br/>
 <br/>
 
  <footer>
 <address>N18 umaru doma street , Gonin gora, Kaduna , Nigeria.</address>
<p> copyright©2024 </p>
</footer>
{% block end %}
{% endblock %}
</body> </html>
