{% extends "blog/generic_base.html" %}
{% block head %}
  <title>Home</title>
  <script>
  let BASE_URL = "{% url 'blog:index' %}";
  let DETAIL_URL = "{% url 'blog:detail' 4 %}";
  </script>
{% endblock %}

  {% block content %}
<div class="card index-card" >

<div class="card-body">                                       <strong class="boldtext"> Fullstack Django Developer</strong>
		<p> Crafting innovative solutions with precision and care </p>
	

		<p class="card-text ">Hi! I'm<strong class="boldtext"> Michael Ayeni</strong>, a seasoned software developer and fullstack developer with a passion for creating quality software.<br><em>Turning idea into code, and code into reality</em>
		<br>
		<a href="{% url 'blog:resumepdf' %}" class="btn btn-outline-primary" >Download Resume</a>

	                                 
  </div>
</div>

		<a href="{% url 'blog:about' %}" class="btn btn-primary" >About</a>
	<br>
  <a class="btn btn-primary" href="{% url 'blog:portfolio' %}">Portfolio</a>
		  <br>
 
  <h2 class="">Blog Posts</h2>
{% if posts %}
{% for post in posts %}
<a href="{% url 'blog:detail' post.id %}" >
	<article class="card">
		<strong class="title card-title boldtext">{{post.title}}</strong>
			<hr>
		<div class="card-body">{{post.text|truncatewords:20}}</div>
	</article>
</a>
<hr>
{% endfor %}
{% else %}
  		
<article> No posts available </article>
{% endif %} 	
	{% endblock %}

