{% extends "blog/generic_base.html" %}
                                                      {% block head %}                                      <title>Portfolio</title>
{% endblock head %}                                   
{% block content %}
{% if project %}
<div class="card " > 
	<img src="{{project.image.url}}" class="card-img-top pl-2 w-100 h-100" >
	<div class="card-body">                                       <h5 class="card-title">{{project.title}}</h5>                                                     <strong>Description</strong>                                  <p class="card-text">{{project.description}}</p>
		<strong>Languages and Framework</strong>
          <ul class="list-group">
		  {% for line in project.get_technologies_used_list %}
		  <li class="list-group-item" >{{line}} </li>
		  {% endfor %}
	  </ul>
	  <strong>Links</strong>

	  <ul class="list-group">                                       {% for line in project.get_links_list %}                                                                     <li class="list-group-item" >{{line|urlize}}</li>                                                         </ul>
	  

  </div>
</div>

{% endfor %}
{% else %}
<div class="alert alert-warning" role="alert">
No projects Available.
</div>
{% endif %}
{% endblock content %}
