{% extends "blog/generic_base.html" %}

{% block head %}
<title>Portfolio</title>
{% endblock head %}

{% block content %}
{% if projects %}
<h2> Projects </h2>
{% for project in projects %}

<div class="card " >
        <img src="{{project.image.url}}" class="card-img-top pl-2 w-100 h-100" >                                              <div class="card-body">                                       <h5 class="card-title">{{project.title}}</h5>
		<strong>Description</strong>
		<p class="card-text">{{project.description|truncatewords:20}}</p>
		<strong>Languages and Framework</strong>
	  <p class="card-text">{{project.technologies_used|truncatewords:3}}</p>
    <a href="{{project.get_absolute_url}}" class="btn btn-primary">Details</a>
  </div>
</div>

{% endfor %}
{% else %}
<div class="alert alert-warning" role="alert">
No projects Available.
</div>
{% endif %}
<br>



{% endblock content %}
