<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">

<!--  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
    
  $("#re").hide();
    

</script>-->
  <style>
  #title{
    color:grey; 
  }
  </style>
  <title>Ajax</title>
</head>
<body >
  <h1>
    AJAX
  </h1>
  <p>Title: <span id="title">unknown</span></p>
  <textarea rows="15" cols="30"id="response" readonly></textarea>
  <button type="button" id="send">Click</button>
  <video src="fd" id="v" ></video>
  <p> hwlllciggfxo </p>
</body>
</html>

